
/*
    I chose to use a sans-serif font, because it looks more modern and more appieling towards the reader
    Futher I chose to use a very dark grey for the font, because a black font is in long terms harder to read for the page visitor
    I used a very light grey for the background in oder to seperate the background from the box with the acual content because I wanted to implement a slight shadow 
    around my content.
    I set the margin and the padding to 0, so the pox with the title and the background image streches to the left and right of the screen
    I added the smooth scroll behavior for a more appealing "jump" towards the different sections with the navigation bar.
*/
html, body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    color: rgb(58, 58, 58);
    background: rgb(240, 240, 240);
    scroll-behavior: smooth;    
}

/*
    I added the margin 0 auto to have a better use of the space in the box and dont use space which is not needed.
    the padding is for better seperation between text and title
    I centered the headlines for a more clear look and to fit the rest of the site
    I used those options on both h1 and h2 for a more corporate look
*/
h1, h2
{
    margin:0 auto;
    padding: 20px;
    text-align: center;
}

/* 
    I used a margin of 50px beacuse the navbar has a height of 50px and the background picture was partly hidden behind the navigation bar
    I cahnged the color of the font-color to white in order to make it more readable
    the margin and the padding are for centering the text from the top and the bottom 
*/
h1 
{
    color: white;
    font-size: 45px;
    margin-top: 50px;
    padding: 70px;
}

/* 
    this section is for creating the background for the navigation bar and streching it over the complete size of the screen
*/ 
ul 
{
    margin: 0;
    padding: 0;
    display: inline-block;
}
/* this is for displaying the buttons all in one line rather than underneath each other */
li 
{
    float: left;
}

/*
    I used display: Block to generate a bigger box which is easier to click on
    again I used a white font better readability
    I centered the buttons for better fixing the whole page design
    the padding somehow determines the size of the boxes
    removed the text decoration to make the buttons look more like buttons the reader knows from other sides
*/
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*changes the backgound color when hovered over the button*/
li a:hover 
{
    background-color: #111;
}

/*
    added the width to keep the pictures around the same size and not variating between different sizes, which may destroy the clean look of the side
    added the box shadow for better seperation between the picture and the white backgound and to make the picture stand out a bit more
*/
img 
{
    width: 480px;
    box-shadow: 0px 0px 10px grey;
}

/* 
    formatted the hr line to fit in the clean design of the website and added the hr line in the first place to seperate the different section and create ancer 
    points for the buttons
*/
hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*
    creating a row for the flex boxes to take place in
*/ 

.row 
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*
    creating the flex boxes with a width of 600px in order to not apper too big on the screen
*/
.col
{
    margin: 5px;
    align-self: center;  
    width: 600px;  
}

/*
    added a background image for the title, so it makes a more appealing look towards the reader. 
    set the height to 200px, so not the complete image is used, only a specific part
    set the background size to 50% so its a bit zoomed out and dont look to edgy on the page
*/
.background-title 
{
    background-image: url("../img/forest.jpg");
    height: 200px;
    background-size: 50%
}

/* 
    formating the navigation bar in order to make it stick to the top, change the background to a fitting grey and center it.
*/
.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
}

/*
    set the background of the inner page to a bright white
    added a 100px margin left and right and 10px margin at the top and botton for better seperation between the "real" background and the inner site which contains
    the pictures and the text
*/
.inner-site
{
    background: #fff;
    margin: 10px 100px;
    box-shadow: 0px 0px 10px grey;
}